@use 'variables' as *;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 96px;
}

body {
  font-family: $font-family;
  color: $color-text-dark;
  background: $color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, p {
  margin: 0;
}

button {
  font-family: $font-family;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
