@use "../../styles/variables" as *;

.tagline {
  padding: 56px $container-padding;
  // background-color: #fafafa;
  text-align: center;
}

.text {
  font-size: 70px;
  font-weight: 800;
  line-height: 1.3;
  color: $color-text-dark;
  margin: 0;

  @media (max-width: $breakpoint-mobile) {
    font-size: 24px;
  }
}

.highlight {
  color: $color-primary;
}
